page-home {
    font-family: 'Montserrat' !important;
    .home-content {
        background-color: #1775ff;
        background-image: -webkit-linear-gradient(332deg, #1775ff, #31dbd2 98%);
        background-image: linear-gradient(118deg, #1775ff, #31dbd2 98%);
        color: #ffffff;
    }
}